{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <section class="paper">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add note">
        </form>

    </section>

    {% for note in all_notes %}
    <details open class="paper">

        <summary>
            {{ note['title'] }} <span><a href="/delete/{{note['_id']}}">d</a>  <a href="/update/{{note['_id']}}">u</a> <a href="/insert/{{note['_id']}}">+</a></span> 
        </summary>
 
        <ul>
            {% for jot in note["jots"] %}            

            <li>{{ jot['jot_content'] }}</li>
            <!-- <li><div><span>{{ jot['jot_content'] }}</span> </li> -->

            {% endfor %}
        </ul>      

        <!-- <a href="/delete/{{note['_id']}}">d</a>  <a href="/update/{{note['_id']}}">u</a> </div> -->
        

    </details open>
    {% endfor %} 

{% endblock %}
