main {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px 0 60px 0;
}

header, main{
  font-family: 'Barlow', system-ui, sans-serif;
}

header,
section,
details {
    margin-bottom: .75em;
}

a { font-variant: small-caps; font-weight:normal; }

details summary::-webkit-details-marker,
details summary::marker {
 display: none; 
 content: "";
}

summary {
  font-weight: bold;
  margin: 0 -.5em 0;
  padding: .5em;
  font-size: 1.15em
}

summary span { float:right;}

li div { text-align:right; }
li div span { float:left; }
